<a href="https://colab.research.google.com/github/maeliech/DB_Group/blob/main/Final_DATABASE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sqlalchemy import create_engine
my_conn = create_engine('sqlite:////content/final.db')

# **BILLING_DETAIL**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'billing_detail' (
    'id'              INTEGER NOT NULL,
    'ammount'         NUMBER(2),
    'description'     CLOB,
    'licence_bill_id' INTEGER NOT NULL,
    PRIMARY KEY       ('id'),
    FOREIGN KEY ('licence_bill_id') REFERENCES licence_bill ('id')
);
''')

# **CLIENT**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'client'  (
    'id'                        INTEGER NOT NULL,
    'name'                      VARCHAR2(120),
    'address'                   VARCHAR2(255),
    'client_marketing_stage_id' INTEGER NOT NULL,
    'country_id'                INTEGER NOT NULL,
    'language_id'               INTEGER NOT NULL,
    PRIMARY KEY                 ('id'),
    FOREIGN KEY                 ('client_marketing_stage_id') REFERENCES 'client_marketing_stage' ('id'),
    FOREIGN KEY                 ('country_id') REFERENCES 'country' ('id'),
    FOREIGN KEY                 ('language_id') REFERENCES 'language' ('id')
);
''')

# **CLIENT_MARKETING_STAGE**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'client_marketing_stage' (
    'id'        INTEGER NOT NULL,
    'name'      VARCHAR2(20),
    PRIMARY KEY ('id')
);
''')

# **CLIENT_TAG**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'client_tags' (
    'client_id' INTEGER NOT NULL,
    'tags_id'   INTEGER NOT NULL,
    FOREIGN KEY ('client_id') REFERENCES 'client' ('id'),
    FOREIGN KEY ('tags_id') REFERENCES 'tags' ('id')
);
''')

# **CONTACT**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'contact' (
    'id'          INTEGER NOT NULL,
    'name'        VARCHAR2(20),
    'role'        VARCHAR2(50),
    'client_id'   INTEGER NOT NULL,
    'language_id' INTEGER NOT NULL,
    PRIMARY KEY   ('id'),
    FOREIGN KEY   ('client_id') REFERENCES 'client' ('id'),
    FOREIGN KEY   ('language_id') REFERENCES 'language' ('id')
);
''')

# **COUNTRY**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'country' (
    'id'          INTEGER NOT NULL,
    'name'        VARCHAR2(20),
    'language_id' INTEGER NOT NULL,
    PRIMARY KEY   ('id'),
    FOREIGN KEY   ('language_id') REFERENCES 'language' ('id')
);
''')

# **EVENT_TYPE**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'event_type' (
    'id'          INTEGER NOT NULL,
    'name'        VARCHAR2(20),
    PRIMARY KEY   ('id')
);
''')

# **EVENTS**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'events' (
    'id'            INTEGER NOT NULL,
    'description'   CLOB,
    "START"         DATE,
    'end'           DATE,
    'contact_id'    INTEGER NOT NULL,
    'user_id'       INTEGER NOT NULL,
    'event_type_id' INTEGER NOT NULL,
    PRIMARY KEY     ('id'),
    FOREIGN KEY     ('contact_id') REFERENCES 'contact' ('id'),
    FOREIGN KEY     ('user_id') REFERENCES 'user' ('id'),
    FOREIGN KEY     ('event_type_id') REFERENCES 'event_type' ('id')
);
''')

# **LANGUAGE**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'language' (
    'id'            INTEGER NOT NULL,
    'name'          VARCHAR2(20),
    PRIMARY KEY     ('id')
);
''')

# **LICENCE_BILL**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'licence_bill' (
    'id'                       INTEGER NOT NULL,
    "START"                    DATE,
    'end'                      DATE,
    'billing_amount'           NUMBER(2),
    'previous_billing_ammount' NUMBER(2),
    'ispaid'                   CHAR(1),
    'licence_folder_id'        INTEGER NOT NULL,
    'currency'                 VARCHAR2(20),
    PRIMARY KEY                ('id'),
    FOREIGN KEY                ('licence_folder_id') REFERENCES 'licence_folder' ('id')
);
''')

# **LICENCE_FOLDER**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'licence_folder' (
    'id'                INTEGER NOT NULL,
    'billing_quarter'   VARCHAR2(20),
    'billing_frequency' INTEGER,
    'client_id'         INTEGER NOT NULL,
    'software_id'       INTEGER NOT NULL,
    PRIMARY KEY         ('id'),
    FOREIGN KEY         ('client_id') REFERENCES 'client' ('id'),
    FOREIGN KEY         ('software_id') REFERENCES 'software' ('id')
);
''')

# **SOFTWARE**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'software' (
    'id'          INTEGER NOT NULL,
    'name'        VARCHAR2(20),
    'isonmarket'  CHAR(1),
    PRIMARY KEY   ('id')
);
''')

# **TAGS**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS 'tags' (
    'id'          INTEGER NOT NULL,
    'name'        VARCHAR2(255),
    PRIMARY KEY   ('id')
);
''')

# **USER**

In [ ]:
r_set=my_conn.execute('''
CREATE TABLE IF NOT EXISTS "USER" (
    'id'        INTEGER NOT NULL,
    "NAME "      VARCHAR2(20),
    'login_id'   VARCHAR2(255),
    'pass'       VARCHAR2(255),
    'department' VARCHAR2(50),
    PRIMARY KEY  ('id')
);
''')